#!/bin/bash
# MANAGED BY PUPPET

# Create a snapshot using btrfs-tools/tar and copy it to the nfs

# Date
DATE=`date +%Y-%m-%d`

# Backup btrfs subvolume
BACKUPVOL=/

# Temporary Snapshot
SNAPSHOT=/tmp/snapshot-$DATE

# Backup directory
BACKUP_DIR=<%= @destination %>/`uname -n`

# Backup file name
BACKUP_FILE=snapshot-$DATE.tar.bz2

# Tar options
TAR_OPT="-ca --one-file-system --exclude=var/cache/apt"

# Keep snapshot for x days
KEEP=120



# Create the backup directory (if it does not exist)
mkdir -p $BACKUP_DIR

# Create the snapshot
# TODO and -r option if supported
btrfs subvolume snapshot $BACKUPVOL $SNAPSHOT > /dev/null

# Find all sockets
socketlst=`mktemp`
cd $SNAPSHOT && find . -type s > $socketlst

# Create the tar archive
tar $TAR_OPT --exclude-from=$socketlst -C $SNAPSHOT -f $BACKUP_DIR/$BACKUP_FILE .
rm $socketlst

# Delete the snapshot
cd / # Leave the snapshot directory
btrfs subvolume delete $SNAPSHOT > /dev/null

# Delete old snapshots
find $BACKUP_DIR/* -mtime +$KEEP -exec rm {} \;
